<div class="content flex items-center flex-col mt-130px mb-30px max-w-800px w-full mx-auto">
  <div class="top-inner-text">
    <h1 class="flex justify-center text-6xl bg-pale-yellow rounded-3xl font-bold py-10px px-30px mb-30px w-full", style="width: 430px">Book_quarter</h1>
  </div>
</div>
