<div class="bg-thin-orange h-72px top-0 left-0">
  <!-- メッセージ表示エリア -->
  <div class="alert-container">
    <% if flash[:notice] %>
      <div class="alert alert-success">
        <%= flash[:notice] %>
      </div>
    <% end %>
  </div>
  <div class="top-inner-text">
    <h1 class="", style="width: 430px">タイトルや説明など（仮）</h1>
  </div>
</div>
