<header class="bg-thin-orange h-72px top-0 left-0 w-full">
  <nav class="flex justify-between items-center w-full h-full px-6">
    <!-- ロゴ -->
    <div class="logo">
      <a class="text-2xl font-bold" href="/">Book_quarter</a>
    </div>
    <!-- ナビゲーションリンクを右揃え -->
    <div class="space-x-8 mr-9 md:flex hidden md:block">
      <%= link_to '投稿一覧', posts_path, class: 'text-lg m-1 py-2 px-2 font-bold hover:bg-gray rounded-md' %>
      <%= link_to 'ログイン', login_path, class: 'nav-link text-lg m-1 py-2 px-2 font-bold hover:bg-gray rounded-md' %>
    </div>
  </nav>
</header>
