<footer class="right-0">
  <nav class="">
    <!-- ナビゲーションリンクを右揃え -->
    <div class="">
      <%= link_to "利用規約", "#", class: "" %>
      <%= link_to "プライバシーポリシー", "#", class: "font-bold hover:bg-gray" %>
    </div>
  </nav>
</footer>
