<footer class="footer-bottom bg-thin-orange h-72px top-0 left-0 w-full">
  <nav class="flex justify-between items-center w-full h-full px-6">
    <!-- ナビゲーションリンクを右揃え -->
    <div class="space-x-8 mr-9 md:flex md:block">
      <%= link_to '利用規約', '#', class: "text-lg m-1 py-2 px-2 font-bold hover:bg-gray rounded-md" %>
      <%= link_to 'プライバシーポリシー', '#', class: "dropdown-item text-lg m-1 py-2 px-2 font-bold hover:bg-gray rounded-md" %>
    </div>
  </nav>
</footer>
