<header class="bg-thin-orange h-72px top-0 left-0">
  <nav class="flex justify-between items-center">
    <!-- ロゴ -->
    <div class="logo">
      <a class="" href="/">Book_quarter</a>
    </div>
    <!-- ナビゲーションリンクを右揃え -->
    <div class="">
      <%= link_to "投稿一覧", posts_path, class: "" %>
      <%# <%= link_to "ブックマーク", "#", class: "" %>
      <%= link_to "ログアウト", logout_path, class: "", data: { turbo_method: :delete } %>
    </div>
  </nav>
</header>
